.toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  background: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  z-index: 90;
}

.toolbar nav {
  height: 100%;

}

@media (max-width: 767px) {
  .desktopOnly {
    display: none;
  }
}
