.logo {
  width: 35px;
}

.logo img {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .logo {
    background: #fff;
    padding: 8px;
    width: 60px;
  }

  .logo img {
    width: 100%;
  }
}
